<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>EmailListServlet</servlet-name>
  	<display-name>EmailListServlet</display-name>
  	<description>Controller for the Email List Servlet</description>
  	<servlet-class>com.tech.mobile.innovative.EmailListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EmailListServlet</servlet-name>
  	<url-pattern>/EmailListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmailListServlet</servlet-name>
  	<url-pattern>/email-list</url-pattern>
  </servlet-mapping>
</web-app>
